- block '<%= plural_name.humanize %>' do
  .actions
    = link_to 'Search', "#", :class => 'search-toggle'
    \|
    = link_to 'New product', new_resource_url
  = render :partial => 'search'
  = render :partial => '<%= plural_name %>', :object => @<%= plural_name %>    

  = link_to 'New <%= singular_name %>', new_resource_url