#results
  %table.tabela
    %tr
  <% for attribute in model_attributes -%>
    %th.order_by<%= (attribute == model_attributes.first) ? ".first" : "" %>= sort_link @search, :<%= attribute.name %>
  <% end -%>
    %th.ico
      %th.ico
      %th.ico
    - @<%= collection_name %>.each do |<%= instance_name %>|
      %tr
      <%- for attribute in model_attributes -%>
        %td= h <%= instance_name %>.<%= attribute.name %>
      <%- end -%>
        %td= show_link(<%= instance_name %>)
        %td= edit_link(<%= instance_name %>)
        %td= destroy_link(<%= instance_name %>)

  = paginate @beneficios

