#results
  %table.table
    %tr
  <% for attribute in model_attributes -%>
    %th.order_by<%= (attribute == model_attributes.first) ? ".first" : "" %>= sort_link @search, :<%= attribute.name %>
  <% end -%>
    %th.last
    - @<%= collection_name %>.each do |<%= instance_name %>|
      %tr{:class => cycle('odd', 'even')}
      <%- for attribute in model_attributes -%>
        %td= h <%= instance_name %>.<%= attribute.name %>
      <%- end -%>    
        %td.last
          = link_to t(:show), resource_url(<%= instance_name %>)
          = link_to t(:edit), edit_resource_url(<%= instance_name %>)
          = link_to t(:destroy), resource_url(<%= instance_name %>), :confirm => t(:confirm), :method => :delete

  .actions-bar
    = will_paginate @<%= collection_name %>
  .clear

