= block t(".title") do
  = show_for @<%= singular_name %> do |<%= singular_name %>|
  <% for attribute in model_attributes -%>
  = <%= singular_name %>.attribute :<%= attribute.name %>
  <% end -%>

- content_for :actions do
  = sidebar_link t(:edit), edit_resource_url
  = sidebar_link t(:back), collection_url
