= title t(".title")

= show_for @<%= singular_name %> do |<%= singular_name %>|
<% for attribute in model_attributes -%>
  = <%= singular_name %>.attribute :<%= attribute.name %>
<% end -%>

- actions do
  = sidebar_link t(:edit), edit_resource_url
  = back_link collection_url

