#header
  %h1= link_to APP_CONFIG[:site_name]
  #user-navigation
    %ul
      %li= link_to "Profile"
      %li.logout= link_to "Logout"
    .clear
  #main-navigation
    %ul
      %li= link_to "Dashboard"
      %li= link_to "Menu 1"
      %li= link_to "Menu 2"
      %li= link_to "Menu 3"
    .clear
  
  